<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Job postings from Hackernews hiring threads">
    <meta name="author" content="Adam Hawkins">

    <title>Who's Hiring on HackerNews</title>

    <!-- Custom styles for this template -->
		<link href="style.css" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
	<body>
		<div class="container">
			<nav class="navbar navbar-dark bg-dark">
				<a class="navbar-brand" href="/">HackerNews Who's Hiring RSS</a>
				<span class="navbar-text">
					Made by <a href="https://twitter.com/adman65">Adam Hawkins</a>. <a href="https://github.com/ahawkins/hn-whos-hiring">Source</a>
				</span>
			</nav>
		</div>

		<div class="container">
			<div class="row">
				<div class="col">
					<p>
						Hey! Looking for a job? This website provides an RSS feed of posts in the various <a href="https://news.ycombinator.com/user?id=whoishiring">HackerNews Who's Hiring</a> threads.
						Results updated every 15 minutes.
					</p>

					<form>
						<div class="input-group">
							<div class="input-group-prepend">
								<label class="input-group-text" for="filter">
									Filter Jobs By
								</span>
							</div>
							<select name="filter" class="custom-select" id="job-filter">
								<option value="all" <%= all_jobs? ? 'selected' : nil %>>All</option>
								<option value="remote" <%= remote_only? ? 'selected' : nil %>>Remote</option>
							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-primary" type="submit" formaction="/" formmethod="get" id="get-jobs">Go</button>
								<button class="btn btn-outline-secondary" type="submit" formaction="/rss" formmethod="get" id="subscribe">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<ul>
						<% @jobs.each do |job| %>
							<li class="job">
								<date><%= job.timestamp.strftime("%Y-%m-%d") %></date> - <a id="job-<%= job.id %>" href="<%= job.link %>"><%= html_encode(titleize(job)) %></a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
