<div class="row">
	<div class="col">
		<form class="form-inline">
			<div class="input-group mr-2 mr-sb-2">
				<div class="input-group-prepend">
					<label class="input-group-text" for="filter">
						Filter Posts By
					</span>
				</div>
				<select name="filter" class="custom-select" id="post-filter">
					<option value="all" <%= all_posts? ? 'selected' : nil %>>All</option>
					<option value="remote" <%= remote? ? 'selected' : nil %>>Remote</option>
				</select>
			</div>

			<input type="text" class="form-control mr-2 mr-sb-2" id="keyword" name="q" aria-label="Keyword" placeholder="Keyword" value="<%= keyword %>">

			<button class="btn btn-primary mr-2 mr-sb-2" type="submit" formaction="/" formmethod="get" id="get-posts">Go</button>
			<button class="btn btn-secondary mr-2 mr-sb-2" type="submit" formaction="/rss" formmethod="get" id="subscribe">Subscribe</button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col">
		<ul>
			<% @ads.each do |job| %>
				<li class="post">
					<date><%= job.timestamp.strftime("%Y-%m-%d") %></date> - <a id="post-<%= job.id %>" href="<%= job.link %>"><%= html_encode(titleize(job)) %></a>
				</li>
			<% end %>
		</ul>
	</div>
</div>
